@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rainbow {
  0% { color: #af0a0a; }
  14% { color: #db8e41; }
  22% { color: #ebeb1a; }
  49% { color: #59da59; }
  62% { color: #3e95dd; }
  80% { color: #3427ee; }
  90% { color: #8738a8; }
  100% { color: #c40b0b; }
}

.rainbow-text {
  animation: rainbow 5s linear infinite;
}